body, html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ddd;
  height: 100vh;
}

.container {
  width: 50%;
  background-color: #fff;
  margin: 2em auto;
  padding: 1em;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.list {
  text-align: left;
  border-collapse: collapse;
}

.list tr {
  height: 50px;
}

.list td {
  /*border: 1px solid #ddd;*/
  padding: 0.5em;
}

.list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.list td:nth-child(1) {
  width: 100px;
}

.list td:nth-child(2) {
    width: 400px;
}
.list td:nth-child(3) {
  width: 90px;
}

.list img {
  width: 100%;
}

